.back{
    height: 110px;
    background-color:white;
    background-size: cover;
    background-position: center;
}
.icon1{
    height: 50px;
    padding-left: 20%;
    background-position: center;
}
.icon2{
    height: 50px;
    padding-left: 10%;
    background-position: center;
}
.icon3{
    height: 50px;
    padding-left: 10%;
    background-position: center;
}
.icon4{
    height: 50px;
    padding-left: 10%;
    background-position: center;
}
.icon5{
    height: 50px;
    padding-left: 10%;
    background-position: center;
}
.header1{
    padding-left: 37%;
    font-size: 30px;
    font-style: serif;
    background-position: center;
}
.bg{
    background-color:rgb(0, 65, 48);
    height: 470px;
    background-size: cover;
    background-position: center;
}


.options{
    padding-left: 2%;
    padding-right: 20%;
   
}
.paragraph1{
    padding-left: 2%;
    padding-top: 2%;
    color: white;
    font-size: 30px;


}
.pizza1{
    height: 230px;
    width: 30%;
    padding-top: 4%;
    padding-left: 10%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.pizza2{
    height: 230px;
    padding-left:10%;
    width: 30%;
    padding-top:4%
   
 
}
.pizza3{
    height: 230px;
    padding-left:10%;
    width: 30%;
    background-position: center;
    padding-top: 4%;
    
}
.col{
    padding-left: 2%;
   
}
.option{
    padding-left: 2%;
    padding-right: 20%;
}
.para{
    padding-top: 2%;
    font-style: normal;
    font-size: 20px;
    color: white;
}
.para1{
    font-style: normal;
    font-size: 20px;
    color: white;
}
.button{
    padding-top: 1%;
    padding-left: 2%;

}

.paragraph2{
    padding-top: 1%;
    color: white;
    font-size: 30px;


}
.check{
    padding-left: 4%;
    color: white
}

